In [8]:
import pandas as pd
import numpy as np

In [9]:
#open csv at Data/people.csv as dataframe
people = pd.read_csv('../Data/people.csv')
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15036 entries, 0 to 15035
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   identifier            15036 non-null  object
 1   name                  15036 non-null  object
 2   unique_name           15036 non-null  object
 3   key_bcci              1321 non-null   object
 4   key_bcci_2            8 non-null      object
 5   key_bigbash           296 non-null    float64
 6   key_cricbuzz          22 non-null     float64
 7   key_cricheroes        111 non-null    float64
 8   key_crichq            24 non-null     float64
 9   key_cricinfo          14991 non-null  float64
 10  key_cricinfo_2        90 non-null     float64
 11  key_cricingif         130 non-null    float64
 12  key_cricketarchive    4416 non-null   float64
 13  key_cricketarchive_2  1 non-null      float64
 14  key_nvplay            240 non-null    object
 15  key_nvplay_2          1 non-null      object
 16  key_opta              67 non-null     float64
 17  key_opta_2            1 non-null      float64
 18  key_pulse             2010 non-null   float64
 19  key_pulse_2           13 non-null     float64
dtypes: float64(13), object(7)
memory usage: 2.3+ MB

In [10]:
#open csv at Data/people.csv as dataframe
names = pd.read_csv('../Data/names.csv')
names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7214 entries, 0 to 7213
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   identifier  7214 non-null   object
 1   name        7214 non-null   object
dtypes: object(2)
memory usage: 112.8+ KB

In [11]:
people.head()

,identifier,name,unique_name,key_bcci,key_bcci_2,key_bigbash,key_cricbuzz,key_cricheroes,key_crichq,key_cricinfo,key_cricinfo_2,key_cricingif,key_cricketarchive,key_cricketarchive_2,key_nvplay,key_nvplay_2,key_opta,key_opta_2,key_pulse,key_pulse_2
0,b4a23876,AAA Amsterdam,AAA Amsterdam,NaN,NaN,NaN,NaN,NaN,NaN,772407.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,482762af,AA Adeoye,AA Adeoye,NaN,NaN,NaN,NaN,NaN,NaN,380588.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4b0e3049,AA Alleyne,AA Alleyne,NaN,NaN,NaN,NaN,NaN,NaN,661441.0,NaN,NaN,1512811.0,NaN,NaN,NaN,NaN,NaN,18542.0,NaN
3,fd3c5c00,AAA Patel,AAA Patel,NaN,NaN,NaN,NaN,NaN,NaN,1163136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bc005f0d,AAA White,AAA White,NaN,NaN,NaN,NaN,NaN,NaN,474307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
names.head()

  identifier        name
0   4b0e3049     Alleyne
1   4b0e3049   A Alleyne
2   6a58e069   A A Bamal
3   6a58e069  Arun Bamal
4   b690f34a   A A Barot

In [13]:
# Drop all columns except identifier, name_x, name_y, unique_name, key_cricinfo
people = people[['identifier', 'name', 'unique_name', 'key_cricinfo']]

#use identifier as index
people.set_index('identifier', inplace=True)
names.set_index('identifier', inplace=True)

In [14]:
names.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7214 entries, 4b0e3049 to 9bf23c13
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7214 non-null   object
dtypes: object(1)
memory usage: 112.7+ KB

In [15]:
names_from_people_arr = people[['name', 'unique_name']].values
# names_from_people_arr.shape # (15036, 2)

names_from_people_arr

array([['AAA Amsterdam', 'AAA Amsterdam'],
       ['AA Adeoye', 'AA Adeoye'],
       ['AA Alleyne', 'AA Alleyne'],
       ...,
       ['Zulqarnain Haider', 'Zulqarnain Haider (2)'],
       ['Zulufat Mutoniwase', 'Zulufat Mutoniwase'],
       ['Zumika Azmi', 'Zumika Azmi']], dtype=object)

In [16]:
# Add new column to people with the other names based on the identifier
names_from_names_arr = people.index.map(lambda x: names[names.index == x]['name'].values).values
names_from_names_arr

array([array([], dtype=object), array([], dtype=object),
       array(['Alleyne', 'A Alleyne'], dtype=object), ...,
       array([], dtype=object), array([], dtype=object),
       array([], dtype=object)], dtype=object)

In [17]:
all_names : list[list[str]] = [None] * names_from_people_arr.shape[0]
for i in range(names_from_people_arr.shape[0]):
	all_names[i] = np.unique(np.concatenate([names_from_people_arr[i], names_from_names_arr[i]]))

all_names

[array(['AAA Amsterdam'], dtype=object),
 array(['AA Adeoye'], dtype=object),
 array(['A Alleyne', 'AA Alleyne', 'Alleyne'], dtype=object),
 array(['AAA Patel'], dtype=object),
 array(['AAA White'], dtype=object),
 array(['AA Baig'], dtype=object),
 array(['A A Bamal', 'AA Bamal', 'Arun Bamal'], dtype=object),
 array(['AA Banner'], dtype=object),
 array(['A A Barot', 'AA Barot', 'Avi Barot'], dtype=object),
 array(['AA Bevilaqua'], dtype=object),
 array(['AA Bilakhia'], dtype=object),
 array(['A A Chakraborty', 'AA Chakraborty', 'Abhijit Chakraborty'],
       dtype=object),
 array(['A Chavan', 'AA Chavan'], dtype=object),
 array(['AA Choudhury'], dtype=object),
 array(['A Adams'], dtype=object),
 array(['A Adekunle'], dtype=object),
 array(['AA Deshpande'], dtype=object),
 array(['AA Donald', 'Allan Donald'], dtype=object),
 array(['Aaftab Alam Khan'], dtype=object),
 array(['AA Gajic'], dtype=object),
 array(['AA Gordon'], dtype=object),
 array(['AAhan Achar', 'AG Achar'], dtype=object),
 array(['A Herwadkar', 'AA Herwadkar'], dtype=object),
 array(['A Ahmadhel'], dtype=object),
 array(['AA Hussein'], dtype=object),
 array(['A Aikenhead'], dtype=object),
 array(['AAIP Bastari'], dtype=object),
 array(['A Aitken'], dtype=object),
 array(['AA Jangoo'], dtype=object),
 array(['AA Jasani'], dtype=object),
 array(['A Jhunjhunwala', 'AA Jhunjhunwala'], dtype=object),
 array(['AA Kargave'], dtype=object),
 array(['Aakarshit Gomel'], dtype=object),
 array(['Aakash Chand'], dtype=object),
 array(['Aakash Verma'], dtype=object),
 array(['AA Kazi', 'Abrar Kazi'], dtype=object),
 array(['A Amado'], dtype=object),
 array(['AA Mailey', 'Arthur Mailey'], dtype=object),
 array(['AA Mallett', 'Ashley Mallett'], dtype=object),
 array(['AAM Eliane'], dtype=object),
 array(['Aamer Azmat'], dtype=object),
 array(['Aamer Ikram'], dtype=object),
 array(['Aamer Jamal'], dtype=object),
 array(['Aamer Malik'], dtype=object),
 array(['Aamer Nazir', 'Aamir Nazir'], dtype=object),
 array(['Aamer Sohail', 'Aamir Sohail'], dtype=object),
 array(['A Yamim', 'Aamer Yamin'], dtype=object),
 array(['Aamir Aziz'], dtype=object),
 array(['A Gani', 'Aamir', 'Aamir Gani'], dtype=object),
 array(['Aamir Javed'], dtype=object),
 array(['A Kaleem', 'Aamer Kaleem', 'Aamir Kaleem'], dtype=object),
 array(['Aamir Lal'], dtype=object),
 array(['AA Moiane'], dtype=object),
 array(['AA Mulla'], dtype=object),
 array(['Aanand Pandey'], dtype=object),
 array(['AA Navicha'], dtype=object),
 array(['A Andrew', 'Annica Andrew'], dtype=object),
 array(['A Andrews'], dtype=object),
 array(['A Andriani'], dtype=object),
 array(['AA Noffke'], dtype=object),
 array(['Aanshul Gupta'], dtype=object),
 array(['A Obanda', 'AA Obanda'], dtype=object),
 array(['AA Onikoyi'], dtype=object),
 array(['AA Paradkar'], dtype=object),
 array(['A Patil', 'AA Patil'], dtype=object),
 array(['A Atkinson', 'AAP Atkinson', 'Atkinson'], dtype=object),
 array(['AA Premji'], dtype=object),
 array(['AAP Rivero', 'Perez Rivero Agustin'], dtype=object),
 array(['Aaqib Javed'], dtype=object),
 array(['Aaqib Khan'], dtype=object),
 array(['Aaqib Sulehri'], dtype=object),
 array(['AA Rahayu'], dtype=object),
 array(['A Aravinddaraj', 'Aravind'], dtype=object),
 array(['A Argyropoulou'], dtype=object),
 array(['A Sheikh', 'Aarif Sheikh'], dtype=object),
 array(['Aarnav Patel'], dtype=object),
 array(['A Beard', 'AP Beard', 'Aaron Beard', 'Beard'], dtype=object),
 array(['Aaron Campbell'], dtype=object),
 array(['A Jones', 'Aaron Jones'], dtype=object),
 array(['A Arroz'], dtype=object),
 array(['Aarya Desai'], dtype=object),
 array(['AA Sanguelkar'], dtype=object),
 array(['A A Sanklecha', 'AA Sanklecha', 'Anupam Sanklecha'], dtype=object),
 array(['AA Sarwate'], dtype=object),
 array(['AA Shafique'], dtype=object),
 array(['A Ashish Reddy', 'AA Reddy', 'Ashish Reddy'], dtype=object),
 array(['A Ashok'], dtype=object),
 array(['A Ashokan', 'Ashokan'], dtype=object),
 array(['Aasif Iqbal'], dtype=object),
 array(['Aasif Sheikh'], dtype=object),
 array(['A Askari'], dtype=object),
 array(['AAS Silva'], dtype=object),
 array(['A Athanaze'], dtype=object),
 array(['A Awasthi'], dtype=object),
 array(['Aayan Afzal Khan'], dtype=object),
 array(['A Ayre'], dtype=object),
 array(['A Bacher', 'Ali Bacher'], dtype=object),
 array(['A Badoni', 'Ayush Badoni'], dtype=object),
 array(['A Bagai'], dtype=object),
 array(['A Agarkar', 'AB Agarkar', 'Ajit Agarkar'], dtype=object),
 array(['A Balbirnie', 'Andy Balbirnie'], dtype=object),
 array(['A Barnes'], dtype=object),
 array(['A Barty'], dtype=object),
 array(['A Barath', 'AB Barath', 'Adrian Barath'], dtype=object),
 array(['Abbas Afridi'], dtype=object),
 array(['AA Baig', 'Abbas Ali Baig', 'Abbas Baig'], dtype=object),
 array(['Abbas Ghani'], dtype=object),
 array(['Abbas Saad'], dtype=object),
 array(['AB Bhadoriya'], dtype=object),
 array(['ABB Sangma'], dtype=object),
 array(['AB Chawla'], dtype=object),
 array(['Abdalah Lubega'], dtype=object),
 array(['AB de Villiers'], dtype=object),
 array(['A Dinda', 'AB Dinda', 'Ashoke Dinda'], dtype=object),
 array(['Abdul Bangalzai'], dtype=object),
 array(['Abdul Bashir'], dtype=object),
 array(['Abdul Basith'], dtype=object),
 array(['Abdul Ela Al Quraishi'], dtype=object),
 array(['A Halim', 'Abdul Halim'], dtype=object),
 array(['Abdul Haq'], dtype=object),
 array(['Abdul Hashim'], dtype=object),
 array(['Abdul Jabar'], dtype=object),
 array(['Abdul Jabbar'], dtype=object),
 array(['Abdul Jalali'], dtype=object),
 array(['Abdul Kadir'], dtype=object),
 array(['Abdulla Bhoola'], dtype=object),
 array(['Abdullah Akbarjan'], dtype=object),
 array(['Abdullah Akhunzada'], dtype=object),
 array(['Abdullah Al Mamun'], dtype=object),
 array(['Abdullah Al Mamun', 'Abdullah Al Mamun (2)'], dtype=object),
 array(['Abdullah Bayoumy'], dtype=object),
 array(['Abdullah Ghulam'], dtype=object),
 array(['Abdullah Jasat'], dtype=object),
 array(['Abdullah Mahmood'], dtype=object),
 array(['Abdullah Mazari'], dtype=object),
 array(['Abdullah Qureshi'], dtype=object),
 array(['Abdullah Rana'], dtype=object),
 array(['A Shafique', 'Abdullah Shafiq', 'Abdullah Shafique'], dtype=object),
 array(['Abdullah Shahid'], dtype=object),
 array(['Abdullah Sheikh'], dtype=object),
 array(['Abdullah Syed'], dtype=object),
 array(['Abdul Majid'], dtype=object),
 array(['Abdul Majid Abbasi'], dtype=object),
 array(['Abdul Malik'], dtype=object),
 array(['Abdulmalik Jabarkhel'], dtype=object),
 array(['Abdul Manan'], dtype=object),
 array(['Abdul Mazid'], dtype=object),
 array(['Abdul Muqeet'], dtype=object),
 array(['Abdul Muqeet', 'Abdul Muqeet (2)'], dtype=object),
 array(['Abdul Nabi'], dtype=object),
 array(['Abdul Naser Baluch'], dtype=object),
 array(['Abdul Nasir'], dtype=object),
 array(['Abdul Nasir', 'Abdul Nasir (2)'], dtype=object),
 array(['Abdul Qadir'], dtype=object),
 array(['Abdul Qadir', 'Abdul Qadir Khan'], dtype=object),
 array(['Abdul Rahman', 'Abdul Rahman Bhadelia'], dtype=object),
 array(['Abdul Rahman', 'Abdul Rahman Rahmani'], dtype=object),
 array(['Abdul Rahman', 'Mohammad Abdul Rahman'], dtype=object),
 array(['Abdulrahman Dashti'], dtype=object),
 array(['Abdul Rashid'], dtype=object),
 array(['Abdul Rashid Karim'], dtype=object),
 array(['A Razzaq', 'Abdul Razzaq', 'Abdur Razzaq'], dtype=object),
 array(['Abdul Rehman', 'Abdul Rehman (2)'], dtype=object),
 array(['Abdul Sadiq'], dtype=object),
 array(['Abdul Salam'], dtype=object),
 array(['A Samad', 'Abdul Samad'], dtype=object),
 array(['Abdul Shakoor'], dtype=object),
 array(['Abdul Shakoor', 'Abdul Shakoor (2)'], dtype=object),
 array(['Abdul-Shakoor Rahimzei'], dtype=object),
 array(['Abdul Stanikzai'], dtype=object),
 array(['Abdul Waheed'], dtype=object),
 array(['Abdul Wahid'], dtype=object),
 array(['Abdul Wasi'], dtype=object),
 array(['Abdur Rahman Sudais'], dtype=object),
 array(['Abdur Rauf'], dtype=object),
 array(['Abdur Razzak'], dtype=object),
 array(['A Rehman', 'Abdur Rehman'], dtype=object),
 array(['Abeera Waris'], dtype=object),
 array(['Abeer Maryam'], dtype=object),
 array(['A Begg', 'Andrew Begg'], dtype=object),
 array(['A Beggs'], dtype=object),
 array(['A Bengeri'], dtype=object),
 array(['A Benjamin', 'Anika Benjamin', 'Annica Benjamin'], dtype=object),
 array(['A Bester'], dtype=object),
 array(['AB Fudadin', 'Assad Fudadin'], dtype=object),
 array(['A Bhadauria'], dtype=object),
 array(['A Bhagwat'], dtype=object),
 array(['A Bhandari'], dtype=object),
 array(['A Bhargava'], dtype=object),
 array(['A Bharwad'], dtype=object),
 array(['A Bhattarai'], dtype=object),
 array(['Abhay'], dtype=object),
 array(['Abhay Negi'], dtype=object),
 array(['Abhijeet Ahuja'], dtype=object),
 array(['Abhijeet', 'Abhijeet Saket'], dtype=object),
 array(['Abhijit Bhattacharya'], dtype=object),
 array(['Abhijit Roy', 'Abhijit Singha Roy', 'Avijit Singha Roy'],
       dtype=object),
 array(['Abhilasha Singh'], dtype=object),
 array(['Abhilash Gogoi'], dtype=object),
 array(['Abhilash Mallick'], dtype=object),
 array(['Abhimanyu Chauhan'], dtype=object),
 array(['A K Rana', 'AK Rana', 'Abhimanyu Rana'], dtype=object),
 array(['Abhinav Dixit'], dtype=object),
 array(['Abhinav Raman'], dtype=object),
 array(['Abhinav Srivastava'], dtype=object),
 array(['Abhiraj Singh'], dtype=object),
 array(['Abhisek Das'], dtype=object),
 array(['Abhishek Ahuja'], dtype=object),
 array(['ABHISHEK BHANDARI', 'Abhishek Bhandari'], dtype=object),
 array(['Abhishek Goswami'], dtype=object),
 array(['Abhishek Gupta'], dtype=object),
 array(['Abhishek Mohan'], dtype=object),
 array(['Abhishek Pandey'], dtype=object),
 array(['Abhishek Kumar Raman', 'Abhishek Raman'], dtype=object),
 array(['Abhishek Sakuja', 'Sakuja'], dtype=object),
 array(['A Sharma', 'Abhishek Sharma'], dtype=object),
 array(['Abhishek Tanwar'], dtype=object),
 array(['Abhishek Thakuri'], dtype=object),
 array(['Abhishek Yadav'], dtype=object),
 array(['AB Holder'], dtype=object),
 array(['AB Howard', 'Anthony Howard', 'Tony Howard'], dtype=object),
 array(['A Ali', 'Abid Ali'], dtype=object),
 array(['A Bidari'], dtype=object),
 array(['Abid Mushtaq'], dtype=object),
 array(['Abid Mushtaq', 'Abid Mushtaq (2)'], dtype=object),
 array(['A Bierwisch'], dtype=object),
 array(['Abishek Porel'], dtype=object),
 array(['A Bishnoi'], dtype=object),
 array(['A Bisson'], dtype=object),
 array(['AB Kamara'], dtype=object),
 array(['AB Kaur'], dtype=object),
 array(['AB Kookna'], dtype=object),
 array(['AB London'], dtype=object),
 array(['A McDonald', 'AB McDonald', 'Andrew McDonald'], dtype=object),
 array(['AB Mengoumou'], dtype=object),
 array(['A Bohara', 'Bohara'], dtype=object),
 array(['A Bonora'], dtype=object),
 array(['A Bosch'], dtype=object),
 array(['A Bose'], dtype=object),
 array(['AB Perrin'], dtype=object),
 array(['Abraash Khan'], dtype=object),
 array(['A Bramble'], dtype=object),
 array(['Abrar Ahmed'], dtype=object),
 array(['Abrar Bilal'], dtype=object),
 array(['A Brindle'], dtype=object),
 array(['A Brown', 'Alan Brown'], dtype=object),
 array(['A Brown-Carrera'], dtype=object),
 array(['Absar Khan'], dtype=object),
 array(['AB Slebsager'], dtype=object),
 array(['AB Tancred', 'Augustus Tancred', 'Bernard Tancred'], dtype=object),
 array(['Abubacarr Kuyateh'], dtype=object),
 array(['Abu Hider'], dtype=object),
 array(['A Jayed', 'Abu Jayed'], dtype=object),
 array(['Abul Farhad'], dtype=object),
 array(['A Hasan', 'Abul Hasan'], dtype=object),
 array(['A Bulow'], dtype=object),
 array(['A Burdett'], dtype=object),
 array(['A Bushell'], dtype=object),
 array(['Abu Zar'], dtype=object),
 array(['AB Williams', 'Alvadon Williams', 'Basil Williams'], dtype=object),
 array(['A Agar', 'AC Agar', 'Ashton Agar'], dtype=object),
 array(['A Campbell'], dtype=object),
 array(['A Canning'], dtype=object),
 array(['A Capsey'], dtype=object),
 array(['A Carter'], dtype=object),
 array(['A Cassim'], dtype=object),
 array(['A Cawley'], dtype=object),
 array(['AC Bannerman', 'Alec Bannerman', 'Alexander Bannerman'],
       dtype=object),
 array(['ACB Langton', 'Arthur Langton', 'Chud Langton'], dtype=object),
 array(['A Blizzard', 'AC Blizzard'], dtype=object),
 array(['AC Botha'], dtype=object),
 array(['AC Boyce'], dtype=object),
 array(['AC Brodin'], dtype=object),
 array(['AC Cummins'], dtype=object),
 array(['AC Dale', 'Adam Dale'], dtype=object),
 array(['AC Dawson', 'Alan Dawson'], dtype=object),
 array(['AC Douglas'], dtype=object),
 array(['A Evans', 'AC Evans'], dtype=object),
 array(['ACF Stokes', 'Stokes'], dtype=object),
 array(['ACF Wyatt'], dtype=object),
 array(['A Gilchrist', 'AC Gilchrist', 'Adam Gilchrist'], dtype=object),
 array(['A Chandel'], dtype=object),
 array(['A Chandila'], dtype=object),
 array(['AC Harris'], dtype=object),
 array(['A Chatterjee'], dtype=object),
 array(['A Chaudary'], dtype=object),
 array(['A Chaudhary'], dtype=object),
 array(['A Chaudhary', 'Aryaveer Chaudhary'], dtype=object),
 array(['A Chetty'], dtype=object),
 array(['A Chilia'], dtype=object),
 array(['Achit Shigwan'], dtype=object),
 array(['A Chopra', 'AS Chopra', 'Akash Chopra'], dtype=object),
 array(['A Chopra', 'Anjum Chopra'], dtype=object),
 array(['A Choudhary', 'A V Choudhary'], dtype=object),
 array(['AC Hudson', 'Andrew Hudson'], dtype=object),
 array(['ACI Lock', 'Alan Lock', 'Charlie Lock'], dtype=object),
 array(['ACI Lovell'], dtype=object),
 array(['A Ciric'], dtype=object),
 array(['AC Jayangani', 'AMC Jayangani', 'C Athapaththu'], dtype=object),
 array(['A Kerr', 'AC Kerr', 'Amelia Kerr'], dtype=object),
 array(['A Clark'], dtype=object),
 array(['A Clark', 'Amy Clark'], dtype=object),
 array(['A Clarke'], dtype=object),
 array(['AC Lenham'], dtype=object),
 array(['ACL Richards'], dtype=object),
 array(['AC Mace-Cochrane'], dtype=object),
 array(['AC MacLaren', 'Archibald MacLaren', 'Archie MacLaren'],
       dtype=object),
 array(['AC McDermott'], dtype=object),
 array(['AC Mushangwe'], dtype=object),
 array(['A Codrington'], dtype=object),
 array(['A Coningham', 'Arthur Coningham'], dtype=object),
 array(['A Conteh'], dtype=object),
 array(['A Cossa'], dtype=object),
 array(['A Cotter', 'Albert Cotter', 'Tibby Cotter'], dtype=object),
 array(['A Coxon', 'Alec Coxon'], dtype=object),
 array(['AC Parore', 'Adam Parore'], dtype=object),
 array(['A Crafford', 'Adriaan Crafford'], dtype=object),
 array(['A Cranstone'], dtype=object),
 array(['ACR Birch'], dtype=object),
 array(['AC Sabino'], dtype=object),
 array(['AC Smith', 'Alan Smith'], dtype=object),
 array(['AC Smith', 'Asha Smith'], dtype=object),
 array(['ACS Pigott', 'Anthony Pigott', 'Tony Pigott'], dtype=object),
 array(['AC Stanacu'], dtype=object),
 array(['AC Stockwell'], dtype=object),
 array(['A Thomas', 'AC Thomas'], dtype=object),
 array(['A Curr'], dtype=object),
 array(['A Voges', 'AC Voges', 'Adam Voges'], dtype=object),
 array(['AC Waller', 'Andrew Waller', 'Andy Waller'], dtype=object),
 array(['AC Warren'], dtype=object),
 array(['Ada Bhasin'], dtype=object),
 array(['A Dagar'], dtype=object),
 array(['A Dale'], dtype=object),
 array(['AD Algar'], dtype=object),
 array(['A Dalzell'], dtype=object),
 array(['Adama Kamara'], dtype=object),
 array(['Adam Birss'], dtype=object),
 array(['Adam Khalaf'], dtype=object),
 array(['A Dananjaya', 'Akila Dananjaya', 'MKPAD Perera'], dtype=object),
 array(['A Daniel'], dtype=object),
 array(['A Das'], dtype=object),
 array(['A Dastgir'], dtype=object),
 array(['A Daxini'], dtype=object),
 array(['A Day'], dtype=object),
 array(['AD Brown'], dtype=object),
 array(['AD Carr'], dtype=object),
 array(['AD Chopra'], dtype=object),
 array(['AD Conwana'], dtype=object),
 array(['A Dcosta'], dtype=object),
 array(['AD Curtis', 'Andrew Curtis'], dtype=object),
 array(['AD Day'], dtype=object),
 array(['AD de Lange'], dtype=object),
 array(['Adeel Malik'], dtype=object),
 array(['A Raja', 'Adeel Raja'], dtype=object),
 array(['Adel Kolasangiani'], dtype=object),
 array(['A Dennison'], dtype=object),
 array(['A Denuwan'], dtype=object),
 array(['A Dercksen'], dtype=object),
 array(['A Deshmukh'], dtype=object),
 array(['AD Evans'], dtype=object),
 array(['AD Gaekwad', 'Anshuman Gaekwad'], dtype=object),
 array(['ADG Matthews', 'Austin Matthews'], dtype=object),
 array(['ADG Roberts', 'Andrew Roberts', 'Andy Roberts'], dtype=object),
 array(['A Hales', 'AD Hales', 'Alex Hales'], dtype=object),
 array(['A Dhingra'], dtype=object),
 array(['Adhip Pradhan'], dtype=object),
 array(['Adhitya Shetty'], dtype=object),
 array(['Adil Afzal'], dtype=object),
 array(['Adil Amin'], dtype=object),
 array(['Adil Bhatti'], dtype=object),
 array(['Adil Butt'], dtype=object),
 array(['Adil Butt', 'Adil Butt (2)'], dtype=object),
 array(['Adil Hanif'], dtype=object),
 array(['Adil Reshi'], dtype=object),
 array(['A Dineshi'], dtype=object),
 array(['Aditya'], dtype=object),
 array(['Aditya Garhwal', 'Aditya N Garhwal'], dtype=object),
 array(['Aditya Jadeja'], dtype=object),
 array(['Aditya Kaushik'], dtype=object),
 array(['Aditya Panwar'], dtype=object),
 array(['Aditya Rout'], dtype=object),
 array(['Aditya Partap', 'Aditya Pratap', 'Aditya Pratap Singh',
        'Aditya Singh'], dtype=object),
 array(['Aditya Waghmode'], dtype=object),
 array(['A Dizija'], dtype=object),
 array(['AD Janakanthymala'], dtype=object),
 array(['A Djorovic', 'Aleksa Djorovic'], dtype=object),
 array(['ADJ Pitcher'], dtype=object),
 array(['AD Kamania'], dtype=object),
 array(['AD Louisy'], dtype=object),
 array(['ADL Stokoe'], dtype=object),
 array(['AD Mascarenhas', 'D Mascarenhas'], dtype=object),
 array(['A Mathews', 'AD Mathews', 'Angelo Mathews', 'Mathews'],
       dtype=object),
 array(['AD Mullally', 'Alan Mullally'], dtype=object),
 array(['A Akmal', 'Adnan Akmal'], dtype=object),
 array(['Adnan Butt'], dtype=object),
 array(['Adnan Idrees'], dtype=object),
 array(['A Ilyas', 'Adnan Ilyas'], dtype=object),
 array(['Adnan Khan'], dtype=object),
 array(['Adnan Liaquat'], dtype=object),
 array(['Adnan Mirza'], dtype=object),
 array(['A Mufti', 'Adnan Mufti'], dtype=object),
 array(['A Rasool', 'Adnan Rasool'], dtype=object),
 array(['Adnan Razzaq'], dtype=object),
 array(['Adnan Syed'], dtype=object),
 array(['A Nath', 'AD Nath', 'Aksh Deep Nath'], dtype=object),
 array(['AD Nourse', 'Dudley Nourse'], dtype=object),
 array(['A Doddaballapur'], dtype=object),
 array(['AD Ogilvie', 'David Ogilvie'], dtype=object),
 array(['A Dolin'], dtype=object),
 array(['A Dolphin', 'Arthur Dolphin'], dtype=object),
 array(['A Dowse'], dtype=object),
 array(['AD Pougher', 'Arthur Pougher', 'Dick Pougher'], dtype=object),
 array(['A Poynter', 'AD Poynter'], dtype=object),
 array(['AD Presland'], dtype=object),
 array(['ADR Campbell', 'Alistair Campbell'], dtype=object),
 array(['Adriaan van den Dries'], dtype=object),
 array(['AD Ridley'], dtype=object),
 array(['A Russell', 'AD Russell', 'Andre Russell'], dtype=object),
 array(['A Fletcher', 'ADS Fletcher', 'Andre Fletcher'], dtype=object),
 array(["A D'Souza", "Antao D'Souza"], dtype=object),
 array(['A Thomason', 'AD Thomason'], dtype=object),
 array(['A Ducat', 'Andrew Ducat', 'Andy Ducat'], dtype=object),
 array(['A Dutt'], dtype=object),
 array(['AD Willoughby'], dtype=object),
 array(['AE Cooper'], dtype=object),
 array(['AE Dick', 'Artie Dick'], dtype=object),
 array(['AE Dipper', 'Alfred Dipper'], dtype=object),
 array(['A Edward', 'Ashlene Edward'], dtype=object),
 array(['A Edwards', 'Amanda Edwards'], dtype=object),
 array(['AE Dyson'], dtype=object),
 array(['AEE Vogler', 'Albert Vogler', 'Bert Vogler'], dtype=object),
 array(['AE Fagg', 'Arthur Fagg'], dtype=object),
 array(['AE Greenidge', 'Alvin Greenidge'], dtype=object),
 array(['AE Hall'], dtype=object),
 array(['AE Hodgson'], dtype=object),
 array(['AE Isesele'], dtype=object),
 array(['A Jones', 'AE Jones', 'Amy Jones'], dtype=object),
 array(['AE Knight', 'Albert Knight'], dtype=object),

In [18]:
people['all_names'] = all_names
people.drop(columns=['name', 'unique_name'], inplace=True)
people.head()

            key_cricinfo                         all_names
identifier
b4a23876        772407.0                   [AAA Amsterdam]
482762af        380588.0                       [AA Adeoye]
4b0e3049        661441.0  [A Alleyne, AA Alleyne, Alleyne]
fd3c5c00       1163136.0                       [AAA Patel]
bc005f0d        474307.0                       [AAA White]

In [19]:
# convert key_cricinfo to int
people['key_cricinfo'] = people['key_cricinfo'].astype('Int64')
people.tail()

            key_cricinfo                                   all_names
identifier
9bf23c13           43707                   [Zulqarnain, Zulquarnain]
ee9bdbc8           43860                         [Zulqarnain Haider]
2d46e8ed         1046641  [Zulqarnain Haider, Zulqarnain Haider (2)]
b71670a0         1380564                        [Zulufat Mutoniwase]
d35c1fc7         1050037                               [Zumika Azmi]

In [21]:
import pandas as pd
import numpy as np

def combinedNames(people: pd.core.frame.DataFrame, names: pd.core.frame.DataFrame):
    #use identifier as index
	people.set_index('identifier', inplace=True)
	names.set_index('identifier', inplace=True)

	names_from_people_arr = people[['name', 'unique_name']].values
	names_from_names_arr = people.index.map(lambda x: names[names.index == x]['name'].values).values

	all_names : list[list[str]] = [None] * names_from_people_arr.shape[0]
	for i in range(names_from_people_arr.shape[0]):
		all_names[i] = np.unique(np.concatenate([names_from_people_arr[i], names_from_names_arr[i]]))

	people['all_names'] = all_names
	people.drop(columns=['name', 'unique_name'], inplace=True)
	people = people[['all_names', 'key_cricinfo']]
	return people

df = combinedNames(pd.read_csv("../Data/people.csv"), pd.read_csv("../Data/names.csv"))

In [24]:
df.head(20)

                                                    all_names  key_cricinfo
identifier
b4a23876                                      [AAA Amsterdam]      772407.0
482762af                                          [AA Adeoye]      380588.0
4b0e3049                     [A Alleyne, AA Alleyne, Alleyne]      661441.0
fd3c5c00                                          [AAA Patel]     1163136.0
bc005f0d                                          [AAA White]      474307.0
5c67c7a6                                            [AA Baig]      524897.0
6a58e069                    [A A Bamal, AA Bamal, Arun Bamal]     1123075.0
02d11602                                          [AA Banner]      590021.0
b690f34a                     [A A Barot, AA Barot, Avi Barot]      398519.0
c7a9ffbf                                       [AA Bevilaqua]      959617.0
bff458c6                                        [AA Bilakhia]       26946.0
44e58b5b    [A A Chakraborty, AA Chakraborty, Abhijit Chak...      680363.0
29d72eb2                                [A Chavan, AA Chavan]      337913.0
b2c38dce                                       [AA Choudhury]     1339014.0
d37fd2c3                                            [A Adams]      464322.0
1b0ce76e                                         [A Adekunle]     1365288.0
cfa56623                                       [AA Deshpande]      220679.0
4c931d56                            [AA Donald, Allan Donald]       44716.0
9dbc77b3                                   [Aaftab Alam Khan]     1269467.0
a768a762                                           [AA Gajic]     1323426.0

In [25]:
# number of rows in the dataframe
df.shape[0]

15036

In [26]:
# save the dataframe to a csv file
df.to_csv('supportive_csv_files/combined_names_with_id.csv')

# Web Scraper to Get Batsman/Bowler Type

In [24]:
import requests
from bs4 import BeautifulSoup


class Player:
    def __init__(self, identifier, key_cricinfo, all_names):
        self.identifier = identifier
        self.key_cricinfo = key_cricinfo
        self.all_names = all_names
        self._urls = [
            f'https://www.espncricinfo.com/cricketers/{name.lower().replace(" ", "-")}-{key_cricinfo}'
            for name in all_names
        ]
        self.valid_url = None
        self.batting_style = None
        self.bowling_style = None
        self.soup = None  # Single attribute for parsed HTML

    def __str__(self):
        return f"PlayerURL(key_cricinfo={self.key_cricinfo}, all_names={self.all_names}, valid_url={self.valid_url})"

    def get_valid_url(self):
        """
        Fetches and stores the first valid URL from self.urls.

        Returns:
            str: The first valid URL from self.urls or None if none are valid.
        """
        if not self.valid_url:
            for url in self._urls:
                response = requests.get(url)
                if response.status_code == 200:
                    self.valid_url = url
                    self.soup = BeautifulSoup(response.content, 'html.parser')
                    break
        return self.valid_url

    def scrape_info(self):
        """
        Scrapes the valid URL (if available) to get player type information.

        Raises:
            ValueError: If no valid URL is found.

        Returns:
            tuple(str, str): A tuple containing batsman and bowler types (or None if not found).
        """

		# if no valid url, set player_type to None
        if not self.valid_url:
            print(f"No Valid URL Found for {self}")
            return 
	
	


        if not self.soup:
            # Fetch and parse HTML only if not already done
            response = requests.get(self.valid_url)
            response.raise_for_status()  # Raise exception for non-200 status codes
            self.soup = BeautifulSoup(response.content, 'html.parser')


        try:
            self.batting_style = self.soup.find(text="Batting Style").parent.parent.find_all("p")[1].text
        except (AttributeError, TypeError):
            self.batting_style = None

        try:
            self.bowling_style = self.soup.find(text="Bowling Style").parent.parent.find_all("p")[1].text
        except (AttributeError, TypeError):
            self.bowling_style = None

In [28]:
import pandas as pd
df = pd.read_csv('scraper_outputs/couldnt_find.csv')
df2 = pd.read_csv('supportive_csv_files/combined_names_with_id.csv')

df['key_cricinfo'] = df['identifier'].map(df2.set_index('identifier')['key_cricinfo'])

df.head(20)

,identifier,all_names,batting_style,bowling_style,key_cricinfo
0,d72a2d32,['A Ganeshan'],NaN,NaN,1319288.0
1,9fed8473,['AG Archer' 'Alfred Archer'],NaN,NaN,8555.0
2,1d23ed3a,['AG Dugmore'],NaN,NaN,44846.0
3,f315f713,['A Gentle'],NaN,NaN,NaN
4,46fe40aa,['AG Ganteaume' 'Andrew Ganteaume' 'Andy Gante...,NaN,NaN,51874.0
5,cf4e0e15,['AG Harriott'],NaN,NaN,437446.0
6,d2616ffe,['Agha Saadat Ali'],NaN,NaN,38981.0
7,6359ffe3,['Agniv Pan'],NaN,NaN,1060429.0
8,c53500ba,['A Goenka'],NaN,NaN,746449.0
9,c6b11959,['A Gorawara'],NaN,NaN,1068980.0
10,3a02626a,['AG Paunikar' 'Amit Paunikar'],NaN,NaN,324444.0
11,637b6fbd,['AG Puttick'],NaN,NaN,46797.0
12,1096ab5f,['A Greenwood' 'Andrew Greenwood'],NaN,NaN,13451.0
13,1bd8d47d,['A G Sehrawat' 'AG Sehrawat' 'Ashish Sehrawat'],NaN,NaN,1065857.0
14,d1305df0,['AGS Gous'],NaN,NaN,485379.0
15,809ecb9d,['AG Steel' 'Allan Steel'],NaN,NaN,20350.0
16,b4a03e25,['AG Walker'],NaN,NaN,338858.0
17,df1b4c8f,['A Halbhavi'],NaN,NaN,1275734.0
18,46d45fde,['A Hamilton'],NaN,NaN,866029.0
19,a06d0f17,['A Haque'],NaN,NaN,29403.0

<strong>please mention here alredy scraped range!</strong>  \
completed

In [43]:
# For each player in df, create a PlayerURL object and fetch player type and add to df as new columns
df_with_types = df.iloc[3000:3807, ].copy()

# Using multithreading to speed up the process
from concurrent.futures import ThreadPoolExecutor

def get_player_info(index, row):
    player = Player(index, row['key_cricinfo'], row['all_names'])
    player.get_valid_url()
    player.scrape_info()
    return player

with ThreadPoolExecutor() as executor:
    players = list(executor.map(lambda x: get_player_info(*x), df_with_types.iterrows()))

for player in players:
	df_with_types.at[player.identifier, 'batting_style'] = player.batting_style
	df_with_types.at[player.identifier, 'bowling_style'] = player.bowling_style

No Valid URL Found for PlayerURL(key_cricinfo=321936.0, all_names=['S Auma'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=1290213.0, all_names=['S Barriball'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=1423722.0, all_names=['Seif Athumani'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['S Bellot' 'Sidella Bellot'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=280740.0, all_names=['Sharafudoulla'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['S Jackson'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=873557.0, all_names=['S Iftikhar'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=319770.0, all_names=['Shoaib Razzak'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['S Campbelle' 'Sherica Campbelle'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=1119429.0, all_names=['S Wetoto'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['S Yousuf'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['S Willett'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['T Gumbs'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['T Byron' 'Tracy Byron'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['T Parker' 'Terez Parker'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=1158392.0, all_names=['T Tereza'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=1122400.0, all_names=['Umer Toor'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['T Martin' 'Tonya Martin'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=54187.0, all_names=['V Subha'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=581605.0, all_names=['T Kaisala' 'Uala Taitoe Kaisala'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=nan, all_names=['T McCoy' 'T McKoy' 'Tynetta McKoy'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=1159863.0, all_names=['Yusuf Akalwaya'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=1284537.0, all_names=['Zeeshan Butt'], valid_url=None)
No Valid URL Found for PlayerURL(key_cricinfo=387141.0, all_names=['Zhang Yufei'], valid_url=None)

In [44]:
df_with_types.head(50)

,identifier,all_names,batting_style,bowling_style,key_cricinfo
3000,2bae86b6,['Sameer Patel'],Right hand Bat,NaN,346572.0
3001,367f4efa,['Samiallah Khalil'],Right hand Bat,NaN,1153816.0
3002,d7e2c419,['Samir Parker'],Right hand Bat,NaN,1174142.0
3003,58eec343,['Samuel Dudson'],None,NaN,318984.0
3004,0f49b970,['Sana Butt'],Right hand Bat,NaN,1394399.0
3005,a207d093,['Sanatomba L' 'Sanatombaroy Laiphangbam'],Right hand Bat,NaN,1246506.0
3006,dccae421,['Sanchin Singh'],Right hand Bat,NaN,1318493.0
3007,b40393b7,['Sangwook Lee'],Right hand Bat,NaN,781131.0
3008,95a2ea61,['S Aniruda' 'S Anirudha'],Right hand Bat,NaN,26798.0
3009,0ef792dc,['Sanjay Gurung'],None,NaN,422520.0
3010,ccb9d6a6,['Sanjay Kumar Singh'],None,NaN,1160035.0
3011,12755a62,['S Islam' 'Sanjida Islam'],Right hand Bat,NaN,535869.0
3012,ad135bde,['SAN Maypriani'],None,NaN,522740.0
3013,6876264c,['Santiago Duggan'],None,NaN,1403059.0
3014,851b0636,['Santiago Iturbe'],Right hand Bat,NaN,1193273.0
3015,560188a1,['SAP Hopkins'],Right hand Bat,NaN,274180.0
3016,04f4f2e1,['Saqib Ali'],Right hand Bat,NaN,42746.0
3017,74644db4,['Saqib Khan'],None,NaN,589449.0
3018,7f76dc0b,['Saqib Shah'],Right hand Bat,NaN,462381.0
3019,c020cef5,['S Haider' 'Saqlain Haider'],Left hand Bat,NaN,779973.0
3020,73d09f44,['Sara Kennedy'],Right hand Bat,NaN,1351915.0
3021,4dc7b1c6,['Sarbjot Singh'],Right hand Bat,NaN,1093682.0
3022,aa1b54b8,['SA Reed'],None,NaN,7542.0
3023,b73625cb,['Sarfraz Butt'],Right hand Bat,NaN,633455.0
3024,8ff397fa,['Sarika Prasad'],None,NaN,208254.0
3025,7aa74830,['S Arora' 'Sanyam Arora'],Left hand Bat,NaN,1175439.0
3026,1b80ebeb,['SA Satbhai'],Right hand Bat,NaN,35294.0
3027,b04524bc,['S Asnani'],None,NaN,26314.0
3028,b4794f2a,['Sathish Balasubramaniam'],None,NaN,1198968.0
3029,8ae49076,['Sathya Narayanan'],Right hand Bat,NaN,1325911.0
3030,4c6c4af4,['Satyajit Sarkar'],None,NaN,543485.0
3031,c1d70b39,['S Auma'],None,NaN,321936.0
3032,afe4ec5a,['Saurabh Dhote'],None,NaN,1202651.0
3033,2ae2e875,['Saurabh Naik'],None,NaN,423100.0
3034,839b6d2e,['Saurabh Rawat'],Right hand Bat,NaN,1061507.0
3035,5fbd0632,['SA Wijeratne'],Right hand Bat,NaN,300624.0
3036,4d9dfc7f,['S Banamali'],None,NaN,1418078.0
3037,abde8fb9,['S Banerjee'],None,NaN,26854.0
3038,856fc47a,['S Bangera'],Right hand Bat,NaN,467814.0
3039,bf3be86c,['S Barriball'],None,NaN,1290213.0
3040,227d9cd1,['SB Chowdhury'],None,NaN,260121.0
3041,05273929,['S Bellot' 'Sidella Bellot'],None,NaN,NaN
3042,35e9f27b,['SB Golder'],Right hand Bat,NaN,37109.0
3043,81ce2e0e,['S Bhargava'],None,NaN,1155876.0
3044,a756e61a,['SB Harper' 'Sam Harper'],Right hand Bat,NaN,772361.0
3045,4146063f,['SB Lambson'],None,NaN,45958.0
3046,268ec1d6,['S Bogdos'],None,NaN,469224.0
3047,394ba7a8,['SB Ravindra'],None,NaN,1197877.0
3048,9485ed40,['S Bremar'],Right hand Bat,NaN,307230.0
3049,f552dfcb,['S Brne'],None,NaN,844677.0

In [112]:
# import pandas as pd

# # Create a new DataFrame with the same columns but no data
# df_empty = pd.DataFrame(columns=df_with_types.columns)
# df_empty.drop(columns=['key_cricinfo'], inplace=True)

# # Write the empty DataFrame to CSV files
# df_empty.to_csv('scraper_outputs/player_type.csv', index=False)
# df_empty.to_csv('scraper_outputs/couldnt_find.csv', index=False)

In [45]:
# Drop the 'key_cricinfo' column without affecting df_with_types
new_data = df_with_types.drop(columns=['key_cricinfo'])

# Filter the data
couldnt_find = new_data[(new_data['batting_style'].isna()) & (new_data['bowling_style'].isna())]
player_type = new_data.drop(couldnt_find.index)


# Append the data to the existing CSV files
couldnt_find.to_csv('scraper_outputs/couldnt_find.csv', mode='a', header=False, index=False)
player_type.to_csv('scraper_outputs/player_type.csv', mode='a', header=False, index=False)

new_data.head(10)

,identifier,all_names,batting_style,bowling_style
3000,2bae86b6,['Sameer Patel'],Right hand Bat,NaN
3001,367f4efa,['Samiallah Khalil'],Right hand Bat,NaN
3002,d7e2c419,['Samir Parker'],Right hand Bat,NaN
3003,58eec343,['Samuel Dudson'],None,NaN
3004,0f49b970,['Sana Butt'],Right hand Bat,NaN
3005,a207d093,['Sanatomba L' 'Sanatombaroy Laiphangbam'],Right hand Bat,NaN
3006,dccae421,['Sanchin Singh'],Right hand Bat,NaN
3007,b40393b7,['Sangwook Lee'],Right hand Bat,NaN
3008,95a2ea61,['S Aniruda' 'S Anirudha'],Right hand Bat,NaN
3009,0ef792dc,['Sanjay Gurung'],None,NaN

In [32]:
# remove duplicates from csv

import pandas as pd

# Load your data
df1 = pd.read_csv('scraper_outputs/player_type.csv')
df2 = pd.read_csv('scraper_outputs/couldnt_find.csv')

# df.set_index('identifier')

# Remove duplicates
df1 = df1.drop_duplicates()
df2 = df2.drop_duplicates()

# Write the result back to CSV
df1.to_csv('scraper_outputs/player_type.csv', index=False)
df2.to_csv('scraper_outputs/couldnt_find.csv', index=False)

In [51]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('scraper_outputs/player_type.csv')

# Check the unique values in the batting_style column
batting_styles = df['batting_style'].unique()

# Check the unique values in the bowling_style column
bowling_styles = df['bowling_style'].unique()

# Count the number of unique batting styles
num_batting_styles = len(batting_styles)

# Count the number of unique bowling styles
num_bowling_styles = len(bowling_styles)

# Print the results
print(f"Number of unique batting styles: {num_batting_styles}")
print(f"Number of unique bowling styles: {num_bowling_styles}")

Number of unique batting styles: 3
Number of unique bowling styles: 11

In [52]:
import pandas as pd

data = {
    'bowling style': bowling_styles,
}

df = pd.DataFrame(data)
df

          bowling style
0      Right arm Medium
1     Left arm Orthodox
2    Right arm Offbreak
3    Right arm Legbreak
4        Right arm Fast
5       Left arm Medium
6         Left arm Fast
7    Right arm offbreak
8   Left arm Wrist spin
9      Right arm Bowler
10                  NaN

Right arm Medium fast ---> Right arm Medium
Left arm Medium fast ---> Left arm Medium
Right arm Fast medium ---> Right arm Fast
Left arm Medium fast ---> Left arm Medium
Legbreak Googly ---> legbreak
Slow Left arm Orthodox ---> Left arm Orthodox
Left arm slow ---> Left arm Orthodox
Right arm slow ---> Right arm offbreak
Right arm Slow medium ---> Right arm offbreak
Left arm Slow medium ---> Left arm Slow
Right arm Offbrea ---> Right arm Offbreak

In [42]:
for style in df['bowling style']:
    print(style)

Right arm Medium
Left arm Orthodox
Right arm Offbreak
Right arm Legbreak
Right arm Fast
Left arm Medium
Left arm Fast medium
Right arm offbreak
Left arm Wrist spin
Left arm Fast
Right arm Bowler
Left arm Slow

In [48]:
# Read the CSV file
df = pd.read_csv('scraper_outputs/player_type.csv')

# Define a dictionary for the replacements
replacements = {
    'Right arm Medium fast': 'Right arm Medium',
    'Left arm Medium fast': 'Left arm Medium',
    'Right arm Fast medium': 'Right arm Fast',
    'Legbreak Googly': 'Right arm Legbreak',
    'Slow Left arm Orthodox': 'Left arm Orthodox',
    'Left arm slow': 'Left arm Orthodox',
    'Right arm slow': 'Right arm offbreak',
    'Right arm Slow medium': 'Right arm offbreak',
    'Left arm Slow medium': 'Left arm Slow',
    'Right arm Offbrea': 'Right arm Offbreak',
    'Right arm Slow' : 'Right arm offbreak',
    'Legbreak' : 'Right arm Legbreak',
    'Left arm Fast medium' : 'Left arm Fast',
    'Left arm Slow': 'Left arm Orthodox',
    
}

# Replace the values in the 'batting_style' column
df['bowling_style'] = df['bowling_style'].replace(replacements)

# Save the DataFrame back to CSV
df.to_csv('scraper_outputs/player_type.csv', index=False)

In [28]:
# remove duplicates from csv

import pandas as pd

# Load your data
df1 = pd.read_csv('scraper_outputs/player_type.csv')
df2 = pd.read_csv('scraper_outputs/couldnt_find.csv')

# df.set_index('identifier')

# Remove duplicates
df1 = df1.drop_duplicates()
df2 = df2.drop_duplicates()

# Write the result back to CSV
df1.to_csv('scraper_outputs/player_type.csv', index=False)
df2.to_csv('scraper_outputs/couldnt_find.csv', index=False)