In [1]:

from converters import json_to_csv

allData,playerMapping = json_to_csv('211028.json', output_file=True)
print("player Mapping",playerMapping)

player Mapping {'A Flintoff': 'ddc0828d', 'A Symonds': 'bd77eb62', 'AC Gilchrist': '2b6e6dec', 'AJ Strauss': 'b68d14a9', 'B Lee': 'dd09ff8e', 'D Gough': 'fcbf5a30', 'DR Martyn': '69762509', 'GD McGrath': 'ee7d0c82', 'GO Jones': '2e929b99', 'J Lewis': '6c75310b', 'JJ Crowe': '2e760301', 'JN Gillespie': '74234d66', 'JW Lloyds': '112b8472', 'KP Pietersen': '39f01cdb', 'ME Trescothick': 'ea42ddb9', 'MEK Hussey': '48fd7349', 'MJ Clarke': 'f842c2cf', 'ML Hayden': 'd8699ab7', 'MP Vaughan': '6e1b1ec0', 'MR Benson': '790e14d3', 'MS Kasprowicz': '8d0ea930', 'NJ Llong': '573fb985', 'PD Collingwood': 'a386e91b', 'RT Ponting': '7d415ea5', 'SJ Harmison': 'c16d2e28', 'VS Solanki': '7ee2ce62'}

In [2]:
import pandas as pd

df = pd.read_csv('csv_files/211028_England_1.csv')
df.head(25)

,Unnamed: 0,batter,bowler,non_striker,extras,runs_by_bat,extra_runs,total,team_total,batter_runs,...,wicket_type,player_out,fielder,toss_decision,toss_winner,innings,venue,date,batting_team,bowling_team
0,0,ME Trescothick,B Lee,GO Jones,NaN,0,0,0,0,{'ME Trescothick': 0},...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
1,1,ME Trescothick,B Lee,GO Jones,NaN,1,0,1,1,{'ME Trescothick': 1},...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
2,2,GO Jones,B Lee,ME Trescothick,NaN,0,0,0,1,"{'ME Trescothick': 1, 'GO Jones': 0}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
3,3,GO Jones,B Lee,ME Trescothick,NaN,0,0,0,1,"{'ME Trescothick': 1, 'GO Jones': 0}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
4,4,GO Jones,B Lee,ME Trescothick,NaN,0,0,0,1,"{'ME Trescothick': 1, 'GO Jones': 0}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
5,5,GO Jones,B Lee,ME Trescothick,{'noballs': 1},0,1,1,2,"{'ME Trescothick': 1, 'GO Jones': 0}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
6,6,GO Jones,B Lee,ME Trescothick,NaN,2,0,2,4,"{'ME Trescothick': 1, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
7,7,ME Trescothick,GD McGrath,GO Jones,NaN,0,0,0,4,"{'ME Trescothick': 1, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
8,8,ME Trescothick,GD McGrath,GO Jones,NaN,0,0,0,4,"{'ME Trescothick': 1, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
9,9,ME Trescothick,GD McGrath,GO Jones,{'wides': 1},0,1,1,5,"{'ME Trescothick': 1, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
10,10,ME Trescothick,GD McGrath,GO Jones,NaN,0,0,0,5,"{'ME Trescothick': 1, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
11,11,ME Trescothick,GD McGrath,GO Jones,NaN,0,0,0,5,"{'ME Trescothick': 1, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
12,12,ME Trescothick,GD McGrath,GO Jones,NaN,0,0,0,5,"{'ME Trescothick': 1, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
13,13,ME Trescothick,GD McGrath,GO Jones,NaN,1,0,1,6,"{'ME Trescothick': 2, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
14,14,ME Trescothick,B Lee,GO Jones,NaN,4,0,4,10,"{'ME Trescothick': 6, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
15,15,ME Trescothick,B Lee,GO Jones,NaN,1,0,1,11,"{'ME Trescothick': 7, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
16,16,GO Jones,B Lee,ME Trescothick,NaN,0,0,0,11,"{'ME Trescothick': 7, 'GO Jones': 2}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
17,17,GO Jones,B Lee,ME Trescothick,NaN,4,0,4,15,"{'ME Trescothick': 7, 'GO Jones': 6}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
18,18,GO Jones,B Lee,ME Trescothick,NaN,4,0,4,19,"{'ME Trescothick': 7, 'GO Jones': 10}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
19,19,GO Jones,B Lee,ME Trescothick,NaN,1,0,1,20,"{'ME Trescothick': 7, 'GO Jones': 11}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
20,20,GO Jones,GD McGrath,ME Trescothick,NaN,0,0,0,20,"{'ME Trescothick': 7, 'GO Jones': 11}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
21,21,GO Jones,GD McGrath,ME Trescothick,NaN,4,0,4,24,"{'ME Trescothick': 7, 'GO Jones': 15}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
22,22,GO Jones,GD McGrath,ME Trescothick,NaN,4,0,4,28,"{'ME Trescothick': 7, 'GO Jones': 19}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
23,23,GO Jones,GD McGrath,ME Trescothick,NaN,0,0,0,28,"{'ME Trescothick': 7, 'GO Jones': 19}",...,0,NaN,NaN,bat,England,1,The Rose Bowl,2005-06-13,England,Australia
24,24,GO Jones,GD McGrath,ME Trescothick,NaN,0,0,0,28,"{'ME Trescothick': 7, 'GO Jones': 19}",...,caught,GO Jones,MS Kasprowicz,bat,England,1,The Rose Bowl,2005-06-13,England,Australia

In [3]:
from summaryData import Summary
match = Summary('211028.json')
match.fall_of_wicket(2)

'FOW: 23-1 23-2 23-3 24-4 24-5 28-6 31-7 67-8 72-9 79-10'